In [1]:
import numpy as np
import pandas as pd
import os

Check if the names of the files of the images with SMA match the database in .csv file --> They match

In [2]:
patients_csv = pd.read_csv('/Users/ezermoysis/Documents/UCL/Year end project/Malaria/Malaria-Detection-in-Blood-Samples/Red_Cell_Morphology/sma_labels_nondef211.csv')

In [3]:
patients_csv[patients_csv['SMA']==1]

              ID  SMA
0     020418-2r3    1
1      051118-16    1
2      061118-01    1
3      080419-04    1
4     080419-4r1    1
5     090618-1r1    1
6      110619-01    1
7      130218-01    1
8      130219-05    1
9      130219-15    1
10     140818-10    1
11   140818-10r1    1
12  141017-06-SA    1
13     150619-05    1
14     151017-01    1
15     281117-04    1
16     151218-03    1
17     181018-03    1
18     181118-08    1
19     190319-27    1
20    191018-5r1    1
21     210319-13    1
22      21118-17    1
23    211217-4r1    1
24     211227-04    1
25     220519-04    1
26     230519-03    1
27    230519-3r1    1
28    241218-7r1    1
29     250319-04    1
30     260419-05    1
31    270419-2r1    1
32    281117-4r1    1

In [4]:
value_mapping = {1:'yes', 0:'no'}

# Replace the values in 'MQ3.3' column
# df['MQ3.3'] = df['MQ3.3'].replace(value_mapping)
# Replace the values in 'MQ4.3' column
patients_csv['SMA'] = patients_csv['SMA'].replace(value_mapping)

In [34]:
patients_csv[patients_csv['SMA']=='no'].count()

ID     110
SMA    110
dtype: int64

In [33]:
patients_csv.count()

ID     143
SMA    143
dtype: int64

In [18]:
# Define input and output directories
current_dir = os.getcwd()
input_relative_path='Red_Cell_Morphology/sma_edof'
# output_relative_path = 'rbc_non_sma'
input_dir = os.path.join(current_dir, input_relative_path)
# output_dir = os.path.join(current_dir, output_relative_path)

# Create output directory if it doesn't exist
# if not os.path.exists(output_dir):
#     os.makedirs(output_dir)

# Get a list of image files in the input directory
image_folders = [folder for folder in os.listdir(input_dir)]

In [19]:
print(image_folders)

['061118-01', '140818-10', '181118-08', '150619-05', '130219-15', '260419-05', '080419-4r1', '051118-16', '21118-17', '080419-04', '220519-04', '130218-01', '210319-13', '191018-5r1', '020418-2r3', '241218-7r1', '141017-06-SA', '281117-4r1', '281117-04', '181018-03', '270419-2r1', '211227-04', '211217-4r1', '140818-10r1', '151017-01', '190319-27', '090618-1r1', '130219-05', '110619-01', '250319-04', '230519-3r1', '151218-03', '230519-03']

In [20]:
image_folders_df = pd.DataFrame(image_folders)

In [21]:
image_folders_df

               0
0      061118-01
1      140818-10
2      181118-08
3      150619-05
4      130219-15
5      260419-05
6     080419-4r1
7      051118-16
8       21118-17
9      080419-04
10     220519-04
11     130218-01
12     210319-13
13    191018-5r1
14    020418-2r3
15    241218-7r1
16  141017-06-SA
17    281117-4r1
18     281117-04
19     181018-03
20    270419-2r1
21     211227-04
22    211217-4r1
23   140818-10r1
24     151017-01
25     190319-27
26    090618-1r1
27     130219-05
28     110619-01
29     250319-04
30    230519-3r1
31     151218-03
32     230519-03

In [31]:
pd.DataFrame(image_folders_df=image_folders_df.sort_values(by=[0])
image_folders_df

               0
14    020418-2r3
7      051118-16
0      061118-01
9      080419-04
6     080419-4r1
26    090618-1r1
28     110619-01
11     130218-01
27     130219-05
4      130219-15
1      140818-10
23   140818-10r1
16  141017-06-SA
3      150619-05
24     151017-01
31     151218-03
19     181018-03
2      181118-08
25     190319-27
13    191018-5r1
12     210319-13
8       21118-17
22    211217-4r1
21     211227-04
10     220519-04
32     230519-03
30    230519-3r1
15    241218-7r1
29     250319-04
5      260419-05
20    270419-2r1
18     281117-04
17    281117-4r1

In [25]:
patients_sma = patients_csv[patients_csv['SMA']=='yes'].sort_values(by=['ID'])

In [26]:
patients_sma

              ID  SMA
0     020418-2r3  yes
1      051118-16  yes
2      061118-01  yes
3      080419-04  yes
4     080419-4r1  yes
5     090618-1r1  yes
6      110619-01  yes
7      130218-01  yes
8      130219-05  yes
9      130219-15  yes
10     140818-10  yes
11   140818-10r1  yes
12  141017-06-SA  yes
13     150619-05  yes
14     151017-01  yes
16     151218-03  yes
17     181018-03  yes
18     181118-08  yes
19     190319-27  yes
20    191018-5r1  yes
21     210319-13  yes
22      21118-17  yes
23    211217-4r1  yes
24     211227-04  yes
25     220519-04  yes
26     230519-03  yes
27    230519-3r1  yes
28    241218-7r1  yes
29     250319-04  yes
30     260419-05  yes
31    270419-2r1  yes
15     281117-04  yes
32    281117-4r1  yes

In [27]:
pd.concat(patients_sma,image_folders_df)

/var/folders/sd/z_kvtl2s6v93h4_t4j4zmpjm0000gn/T/ipykernel_83366/497421514.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat(patients_sma,image_folders_df)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"